.LogViewerPage {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 20px;

  > ul, fieldset > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  > ul > li {
    margin-bottom: 25px;
  }
}

.LogViewerPage--logFileList {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  overflow: hidden;

  .LogFile-item {
    display: flex;
    padding: 10px 10px 10px 0;
    background-color: var(--control-bg);
    color: var(--control-color);
    margin-bottom: 10px;
    border-radius: @border-radius;

    &--icon {
      --font-size: 1.6rem;
      font-size: var(--font-size);
      width: calc(~"var(--font-size) + 4rem");
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--info {
      .fileName {
        font-weight: 600;
        font-size: 1.2em;
      }
    }

    &--actions {
      display: flex;
      align-items: center;
      margin-left: auto;

      > *:not(:first-child) {
        margin-left: 8px;
      }
    }
  }

  &--empty {
    color: var(--control-color);
  }
}

@media @phone {
  .LogViewerPage {
    grid-template-columns: 1fr; // Make it stack vertically on mobile
  }
  
  .LogViewerPage--logFileList {
    .LogFile-item {
      flex-wrap: wrap;
      padding: 16px;

      &--icon {
        justify-content: start;
        padding: 8px;
        width: auto;
        min-width: calc(~"var(--font-size) + 4rem");
      }

      &--actions {
        width: auto;
      }
    }
  }
}

// Styling for the log file viewer modal
.LogFileViewModal {
  .Modal-body {
    color: @code-color;
    overflow: auto;
    font-family: source-code-pro, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.3;

    .LogViewerPage--fileContent {
      padding: 16px;
      background-color: @body-bg;
      border: 2px solid @primary-color;
      border-radius: @border-radius;
      overflow: auto;

      pre {
        margin: 0;
        padding: 0;
        white-space: pre-wrap;  // Ensures that the content doesn't exceed the modal's width
      }
    }
  }
}
